<div class="container">
  <form [formGroup]="carRegisterForm" class="form-group" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Manufacturer</mat-label>
        <input matInput formControlName="manufacturer">
        <mat-icon matSuffix>directions_car</mat-icon>
        <mat-hint>E.g.: Volkswagen</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type">
        <mat-icon matSuffix>list_alt</mat-icon>
        <mat-hint>E.g.: Passat</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Color</mat-label>
        <input matInput formControlName="color">
        <mat-icon matSuffix>color_lens</mat-icon>
        <mat-hint>E.g.: Black (optional)</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
      <mat-label>Year of manufacture</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="year" placeholder="Choose the date of manufacture">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
        <mat-hint>E.g.: 2012/01/20</mat-hint>
        </mat-form-field>
      <!--<mat-form-field appearance="standard">-->
        <!--<mat-label>Year of manufacture</mat-label>-->
        <!--<input matInput formControlName="year">-->
        <!--<mat-icon matSuffix>date_range</mat-icon>-->
        <!--<mat-hint>E.g.: 2012</mat-hint>-->
      <!--</mat-form-field>-->
    </p>
    <mat-error *ngIf="errorMessage">Please enter valid data</mat-error>
    <button mat-flat-button color="primary" class="btn-block mt-3" type="submit">ADD CAR</button>
  </form>
</div>
