<div class="scrollable mat-elevation-z8">
  <table mat-table [dataSource]="getVehicles()">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef> Manufacturer</th>
      <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color</th>
      <td mat-cell *matCellDef="let element"> {{element.color }} </td>
    </ng-container>

    <!-- Year of manufacture Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year of manufacture</th>
      <td mat-cell *matCellDef="let element"> {{element.year | date: 'yyyy. MM. dd.'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
